*{
  font-family: monospace;
  font-weight: 200;
}

body{
  text-align: center;
  margin:auto;
  width:80%;
}

.hidden{
  display: none;
}

table{
  border: 1px solid black;
  margin: auto;
}

table td {
  border: 1px solid black;
  cursor: pointer;
  width: 80px;
  height: 80px;
}
